.header {
  display: flex;
  max-width: 1200px;
  padding: 50px 30px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(lightblue, lightcoral)
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.header-menu a {
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  color: #fff;
}

@media (max-width: 700px) {
  .header{
    flex-direction: column;
    gap: 20px;
  }
}