.introducao {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
}
 .introducao h1 {
  font-size: 1.5rem ;
  line-height: 1.125;
  margin-bottom: 30px;
  }

 .introducao p {
  font-size: 1.0rem;
  color: #525252;
 } 

.ambiente {
  height: 250px;
  width: 300px;
  border-radius: 50%;
}

@media (max-width: 700px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
  }
}